<h1>University in Madrid</h1>
<p>
  After a good childhood in the fields, it was my time to move to the big city.
  I got into UPM (Universidad Politécnica de Madrid) to study
  <b>Electronic and Automatic Industrial Engineering</b>
</p>
<img class="img" src="../../assets/uni1.jpg" />

<h1>University of London</h1>
<p>
  Lucky me, I got sponsored to do an online MSC in Data Science and Artificial
  Intelligence. It was nice, but not what I expected, easily replaced by Youtube
</p>

<img class="img" src="../../assets/unitenis.jpg" />
<p>
  <i>I was sick the day we got the trophies, don't judge my face</i>
</p>

<h1>Volunteering</h1>
<p>
  I have done a lot of volunteering, but Malta was the best one. I got the
  chance to develop a project to handcraft instruments made by trash, and spent
  a couple months enjoying the views
</p>
<img class="img" src="../../assets/malt.jpg" />

<h1>Others</h1>
<p>
  I got the national tennis teacher license from RFET, did a quarterly exchange
  in Ames, Iowa, and some other titles that may be interesting for nobody.
</p>

<img class="img" src="../../assets/iowa.jpg" />
