<h1 class="colors">Travelling</h1>
<p>As I already said before, travelling is an important part of my life.</p>
<p>This is a list of the places I have been to</p>
<ul>
  <li>Spain</li>
  <li>Portugal</li>
  <li>France</li>
  <li>Morocco</li>
  <li>Andorra</li>
  <li>Ireland</li>
  <li>Scotland</li>
  <li>England</li>
  <li>Belgium</li>
  <li>Netherlands</li>
  <li>Italy</li>
  <li>Malta</li>
  <li>Austria</li>
  <li>Germnay</li>
  <li>Denmark</li>
  <li>Sweden</li>
  <li>Poland</li>
  <li>USA</li>
  <li>Hungary</li>
  <li>Slovenia</li>
  <li>Croatia</li>
  <li>Turkey</li>
  <li>India</li>
</ul>
<img class="img" src="../../assets/rusia.jpg" />
<p>
  I decided to put Russia as the location for travelling, ask me why, funny
  story
</p>
