<h1>Miscellanous</h1>
<p>Last but not least, some random things I am quite proud of</p>
<p>I did an interview in the radio (no kidding)</p>
<img class="img" src="../../assets/radio.jpg" />
<p>I created my own version of a snowboard (ski+skate)</p>
<img class="img" src="../../assets/snow.jpg" />
<p>I am campering my van</p>
<img class="img" src="../../assets/camper.jpeg" />
<p>I am looking for Jenny</p>
<img class="img" src="../../assets/forrest.jpg" />
<h1 class="jumping">Thanks for arriving to the end</h1>
<h1 class="colors">I hope you enjoyed a bit of my world</h1>
