<h1>Code</h1>
<p>
  Since I started programming in 2013, I have never stopped developing my own
  stuff just for fun. I have started this repo with a couple projects, the rest
  is private in bitbucket
</p>

<div class="centered">
  <p>
    <i class="pi pi-github"></i>
    <a target="_blank" href="https://github.com/luisdebenito?tab=repositories"
      >Github luisdebenito</a
    >
  </p>
</div>
<p>
  I have created a social network (<b>puebleo</b> that became puebloo), a trivia
  question game called askIt, a php framework to work with html as jQuery does,
  and a lot of videogames
</p>
<img class="img" src="../../assets/puebleo.jpeg" />

<div class="centered">
  <p>
    <i class="pi pi-play"></i>
    <a target="_blank" href="https://luisdebenito.github.io/MDGE/"
      >Most Difficult Game Ever</a
    >
    Only PC
  </p>
</div>

<p>Picture of me happy so you can imagine my face while coding</p>
<img class="img" src="../../assets/santiuste1.jpg" />

<p><i>Location: Iowa, place where I spent a quarter in 2012</i></p>
