.centered {
  margin: auto;
  padding-left: 10px;
  color: white;
  p > i {
    margin: 15px;
    font-size: 25px;
  }

  p {
    margin: 5px;
  }
}


.video-tuto{
  margin-bottom: 10px;
  p{
    font-size: 20px;
    font-weight: bold;
  }
}
iframe {
  width: 100%;
  margin-bottom: 20px;
}
