<div class="mmcontainer">
  <div class="box">
    <span style="--i: 1">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 2">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 3">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 4">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 5">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 6">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 7">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 8">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 9">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 10">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 11">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 12">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 13">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 14">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 15">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
    <span style="--i: 16">
      <i>Germany</i>
      Germany
      <i>Germany</i>
    </span>
  </div>
</div>

<p class="mt-5">Cool eh? I also worked in Rotenburg</p>
<img class="img" src="../../assets/germany.jpg" />
