<h1>Job Experience</h1>
<section class="experience">
  <div class="container">
    <div class="job">
      <h2 class="job-title">Senior Software Engineer</h2>
      <p class="company">NEXPLORE</p>
      <p class="dates">Oct 2021 - Present</p>
      <p class="location">Remote</p>
      <p class="technologies">
        Python (Ariadne), Angular, GraphQL, MongoDB, Azure
      </p>
      <p class="description">
        · Developed a diary application for construction sites used by Hochtief
        (Germany) and FlatIron (USA), directly woking with the client everyday.
      </p>
    </div>

    <div class="job">
      <h2 class="job-title">Software Engineer</h2>
      <p class="company">Freelance | Self Employed</p>
      <p class="dates">Jan 2018 - Present</p>
      <p class="location">Málaga (Spain), Mellieħa(Malta)</p>
      <p class="technologies">
        Python (Flask, Django), Angular, C++, PHP, MySQL, SQLite, AWS
      </p>
      <p class="description">
        · Developed a management system for the manufacturing process of
        SMEs.<br />
        · Data Network built from the Machine PLC to the kernel, via python and
        PHP Web Services
      </p>
    </div>

    <div class="job">
      <h2 class="job-title">Senior Software Engineer</h2>
      <p class="company">Giunti Psychometrics</p>
      <p class="dates">Feb 2020 - Oct 2021</p>
      <p class="location">Florencia, Italia</p>
      <p class="technologies">Python (Django), Angular, Node.js, MySQL, AWS</p>
      <p class="description">
        · Product Owner of reporting platform. <br />
        · Developed multiple applications related to the management of
        psychological encrypted sensitive data.
      </p>
    </div>

    <div class="job">
      <h2 class="job-title">Tools Development Engineer</h2>
      <p class="company">Electrolux</p>
      <p class="dates">Feb 2018 - Feb 2020</p>
      <p class="location">Treviso, Italia</p>
      <p class="technologies">
        Python (Flask), C# (.NET), PHP (No framework), Javascript (JQuery),
        Azure
      </p>
      <p class="description">
        · Fully developed a Windows application for the Modules Testing
        Engineers (FreshnessApp).<br />
        · Member of the Global Engineering Program – long term trainee programs
        in Stockholm (Sweden) and Rothenburg (Germany).<br />
        · Development of the Electronics Team Web Portal (coldfw) and the Line
        Programming Station (Algor)
      </p>
    </div>

    <div class="job">
      <h2 class="job-title">Iot developer</h2>
      <p class="company">BQ, Hacklab UPM</p>
      <p class="dates">Sep 2013 - Sep 2017</p>
      <p class="location">Madrid, Spain</p>
      <p class="technologies">
        Python (Jupyer, pandas, numpy, matplotlib...), C++, VHDL, MatLab, SQLite
      </p>
      <p class="description">
        · Data scrapping, Data mining, Bots, DDOS trials (locust), Scripting,
        Raspberry, Arduino, FPGA, 3D printing, robotics, Machine Learning,
        Artificial Vision
      </p>
    </div>
  </div>
</section>
