.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

.job {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.company {
  font-size: 18px;
  font-weight: bold;
  color: #555555;
}

.dates {
  font-size: 16px;
  color: #777777;
}

.location {
  font-size: 16px;
  color: #777777;
}

.technologies {
  font-size: 16px;
  color: #333333;
}

.description {
  padding: 10px 10px;
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
  text-align: left;
}
