<h1>Luis de Benito</h1>
<p>
  Hello there! Thanks for getting in here. My name is <b>Luis</b>, and this is
  me!
</p>
<img class="img" src="../../assets/fields.jpeg" />
<div class="centered">
  <p>
    <i class="pi pi-linkedin"></i>
    <a target="_blank" href="https://www.linkedin.com/in/luis-de-benito/"
      >Luis dB.P.</a
    >
  </p>
  <p>
    <i class="pi pi-envelope"></i>
    <a target="_blank" href="mailTo:luisdebenito7@gmail.com"
      >luisdebenito7@gmail.com</a
    >
  </p>

  <p>
    <i class="pi pi-instagram"></i>
    <a target="_blank" href="https://www.instagram.com/luis.bq_/">@luis.bq_</a>
  </p>

  <p>
    <i class="pi pi-twitter"></i>
    <a target="_blank" href="https://www.twitter.com/luisbq_/">@luisbq_</a>
  </p>
</div>
<div class="lang">
  <p>
    <i>I speak English fluently.</i>
  </p>
  <p>
    <i>Hablo Español nativo.</i>
  </p>
  <p><i>Parlo italiano arrugginito. </i></p>
  <p><i>Je parle un peu de français.</i></p>
</div>

<p>
  Back in 1995, my parents decided to make my first commit in Segovia, and I
  spent there the first 17 years of my life. Such a lovely city.
</p>
<img class="img" src="../../assets/segovia.jpg" />
