.centered {
  margin: auto;
  padding-left: 10px;
  color: white;
  p > i {
    margin: 15px;
    font-size: 25px;
  }

  p {
    margin: 5px;
    text-align: left;
  }
}

.lang {
  margin: 40px 20px;
}
