<h1>Luis de Benito</h1>
<p>
  Hello there! Thanks for getting in here. My name is <b>Luis</b>, and this is
  the best way I found to tell my story without you falling asleep while reading
  it.
</p>
<img class="img rounded" src="../../assets/fields.jpeg" />
<div class="centered">
  <p>
    <i class="pi pi-linkedin"></i>
    <a target="_blank" href="https://www.linkedin.com/in/luis-de-benito/"
      >Luis dB.P.</a
    >
  </p>
  <p>
    <i class="pi pi-envelope"></i>
    <a target="_blank" href="mailTo:luisdebenito7@gmail.com"
      >luisdebenito7@gmail.com</a
    >
  </p>

  <p>
    <i class="pi pi-instagram"></i>
    <a target="_blank" href="https://www.instagram.com/luis.bq_/">@luis.bq_</a>
  </p>

  <p>
    <i class="pi pi-twitter"></i>
    <a target="_blank" href="https://www.twitter.com/luisbq_/">@luisbq_</a>
  </p>
</div>

<p>
  Back in 1995, my parents decided to make my first commit in Segovia, and I
  spent here the first 17 years of my life. Such a lovely city.
</p>
<img class="img" src="../../assets/segovia.jpg" />
<p>I walked by those years mostly playing tennis and studying</p>

<img class="img" src="../../assets/segovia1.jpg" />
<p>
  I was never a social animal, but thanks to my parents and the influence of
  some friends, I started building my personality. Outgoing, adventurous,
  frequent traveller and active as heck (I am learning to stand still doing
  nothing for more than an hour)
</p>
