.container {
  height: 100%;
}

.modal {
  background-color: #f2f2f2;
  color: #3d3b35;
  border-radius: 20px;
  height: 90%;
  position: fixed;
  z-index: 800;
  top: 5%;

  .container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;

    .inContainer {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .inContainer {
    margin: 20px 3%;
  }

  .modal {
    width: 95%;
    left: 1.5%;
  }

  .large {
    font-size: 22px;
  }

  .larger {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}
@media (min-width: 800px) {

  .inContainer {
    margin: 20px 20%;
  }

  .modal {
    width: 68%;
    right: 16%;
  }

  .larger {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  .large {
    font-size: 25px;
  }
}

.larger {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.larger:hover {
  cursor: pointer;
  background-color: rgba($color: #f2c894, $alpha: 1);
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: #5a7302, $alpha: 0.7);
  border-radius: 10px;
}
