.container {
  height: 100%;
}

.modal {
  background-color: #f2f2f2;
  color: #3d3b35;
  border-radius: 20px;
  height: 96%;
  position: fixed;
  z-index: 100;
  top: 2%;

  .container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;

    .inContainer {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .inContainer {
    margin: 20px 5px;
  }

  .modal {
    width: 98%;
    left: 1%;
  }

  .large {
    font-size: 22px;
  }

  .larger {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}
@media (min-width: 800px) {

  .inContainer {
    margin: 20px 20%;
  }

  .modal {
    width: 68%;
    right: 16%;
  }

  .larger {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  .large {
    font-size: 25px;
  }
}

.larger {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.larger:hover {
  cursor: pointer;
  background-color: rgba($color: #f2c894, $alpha: 1);
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: #5a7302, $alpha: 0.7);
  border-radius: 10px;
}


.menu_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  background-color: #f2c894;
  border-radius: 50%;
  padding: 18px;
  border: 4px solid  #5a7302;
  color: #5a7302;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Or target specific elements */
button, a, input {
  -webkit-tap-highlight-color: transparent;
}

.menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  transition: .2s;
  transform: translateY(100%);
}


.menu{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-top: 5px solid #5a7302;
}


.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 20px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  i{
    margin-right: 10px;
  }
}

.menu li:hover {
  background-color: rgba(90, 115, 2,.2);
}


.menu-overlay.active {
  pointer-events: auto;
  transform: translateY(0);
}
