<h1>Santiuste de San Juan Bautista</h1>
<p>
  Sad, but with a mind full of energy, I went to where it all started:
  <b>"Mi pueblo"</b>
</p>
<img class="img" src="assets/santiuste1.jpg" />
<p>
  I have spent at least one month a year since I am a child in here, where my
  grandparents used to live, where I have my childhood friends, and where I find
  peace.
</p>
<img class="img" src="assets/santiuste.jpg" />

<p>
  Here, I decided to spend the pandemic working in a social network called
  <b>Puebleo</b>, to improve the situation of rural places in Spain. (it evolved
  to puebloo.es)
</p>

<img class="img" src="assets/puebleo.jpeg" />

<p>After three months, I got hired in</p>
<img class="img" src="assets/giunti.png" />
<p>as a remote <b>Senior Software Engineer</b></p>
