<h1>The end, almost...</h1>
<p>
  Last but not least, some crazy achievements (if you can call them that) I am
  quite proud of
</p>
<p>I did an interview in the radio (no kidding)</p>
<img class="img" src="../../assets/radio.jpg" />
<p>I created my own version of a snowboard (ski+skate)</p>
<img class="img" src="../../assets/snow.jpg" />
<p>I also built my own bike</p>
<img class="img" src="../../assets/bike.jpg" />
<p>I am campering my van</p>
<img class="img" src="../../assets/camper.jpeg" />
<p>And I am such a nerd, had to include a bit of code</p>
<img class="img" src="../../assets/code.jpeg" />
<h1 class="jumping">Thanks for arriving to the end</h1>
<h1 class="colors">I hope you enjoyed a bit of my world</h1>
<h1 class="backgroundMoving">DO NOT FORGET TO CLICK ON THE CONTACT BUTTON</h1>
<h1 class="flipY">Song: kokoroko, Abusey Junction</h1>
