/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  margin: 0px;
  background-color: #f2f2f2;

  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
}

.img {
  width: 95%;
  box-shadow: 10px 10px;
  margin: 10px;
}

h1,
i {
  color: #5a7302;
}

@media (max-width: 800px) {
  .p-dialog {
    width: 95%;
  }

  .img.rounded {
    width: 80%;
    border-radius: 50%;
  }
}
@media (min-width: 800px) {
  .p-dialog {
    width: 50%;
  }

  .img.rounded {
    width: 40%;
    border-radius: 50%;
  }
}

.p-disabled,
.p-component:disabled {
  opacity: 0.6;
}

h1.colors {
  animation: color-change 1s infinite;
}
$colors: red, orange, yellow, green, blue, purple;

@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: orange;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

h1.jumping {
  animation: bounce 0.3s ease infinite alternate;
  position: relative;
  top: 20px;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px #ccc, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc,
      0 6px #ccc, 0 7px #ccc, 0 8px #ccc, 0 9px #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

h1.shadow {
  animation: bounce 0.3s ease infinite alternate;
}

h1.shinny {
  animation: shinny 2s infinite;
}

@keyframes shinny {
  100% {
    text-shadow: 10px 10px purple;
  }
}

.backgroundMoving {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.flipY {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }
  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }
  50% {
    text-shadow: 0 0 black;
  }
  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }
  100% {
    text-shadow: 0 0 black;
  }
}

a,
a:visited {
  color: #5a7302;
}
