/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  margin: 0px;

  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
}
